@model NotaEditarViewModel

@{
    ViewBag.Title = Model.TituloPagina;
}

<div class="card">
    <div class="card-header">
        <div class="col-md-8">
            <h4>@Model.TituloPagina</h4>
        </div>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" asp-controller="Nota" asp-action="Editar" method="post" class="mt-3">

            <input hidden asp-for="ContaId" />

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Data" class="col-form-label">Data</label>
                    <input asp-for="Data" class="form-control" disabled>                    
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Valor" class="col-form-label">Valor</label>
                    <input asp-for="Valor" class="form-control" placeholder="R$ 0.0">
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Atendente" class="col-form-label">Atendente</label>
                    <select asp-for="Atendente" class="custom-select mr-sm-2"
                            asp-items="Html.GetEnumSelectList<Atendente>()" disabled>
                        <option value="">Please Select</option>
                    </select>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <textarea rows="10" asp-for="Detalhes" class="form-control">                        
                    </textarea>
                    <span asp-validation-for="Detalhes" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a asp-controller="Conta" asp-action="lista" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>